.answer-container {
  margin: 0 auto;

  width: 53vw;
  max-width: 53vh;
  height: 25vw;
  max-height: 25vh;
  font-size: 0.8rem;
  color: black;
  background-color: lightyellow;
  position: absolute;
  top: 10;
  bottom: 0;
  overflow: auto;
}
