
/* http://bluecaret.com/blog/responsive-grid-of-squares */

.grid {
    margin: 0 auto;
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
    font-size: 1rem;
    border-style: solid;
    background-color: lightyellow;
}

.row {
    display: flex;
}
