
/* http://bluecaret.com/blog/responsive-grid-of-squares */

.grid {
    margin: 0 auto;

    width: 70vw;
    max-width: 82vh;
    height: 70vw;
    max-height: 82vh;

    font-size: 1rem;
    border-style: solid;
    background-color: white;

    position: fixed;
    top: 80px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: auto;

    z-index: -1;
}

.row {
    display: flex;
}
