.grid {
    margin: 0 auto;
    margin-top: 5px;
    width: 82vw;
    max-width: 82vh;
    height: 82vw;
    max-height: 82vh;

    font-size: 1rem;
    background-color: white;

    position: fixed;
    top: 80px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: auto;

    z-index: -1;
}

.row {
    display: flex;
}
