.middle-container {
  margin: 0 auto;
  margin-top: 106px;
  width: 54vw;
  max-width: 54vh;
  height: 53.3vw;
  max-height: 53.3vh;
  box-shadow: 5px 5px 5px grey;
  background-color: #D5DAF2;
}

@media all and (max-width: 700px) {
  .middle-container {
    margin-top: 16%;
  }
}
