.middle-container {
  margin: 0 auto;

  width: 53vw;
  max-width: 53vh;
  height: 45vw;
  max-height: 45vh;
  font-size: 0.8rem;
  border-style: solid;
  background-color: lightgreen;
  color: black;

  position: fixed;
  left: 0;
  right: 0;
  overflow: auto;
}
