.middle-container {
  margin: 0 auto;

  width: 55vw;
  max-width: 55vh;
  height: 50vw;
  max-height: 50vh;
  font-size: 0.8rem;
  border-style: solid;
  background-color: lightgreen;
  opacity: 0.8;

  position: fixed;
  left: 0;
  right: 0;
  overflow: auto;
}
