.answer {
  margin: 5px;
  display: inline-block;
  width: 12vw;
  max-width: 12vh;
  height: 10vw;
  max-height: 10vh;
  text-align: center;
  overflow: hidden;
  box-shadow: 5px 5px 5px grey;
}

.answer-text {
  height: auto;
  margin: 0;
  padding: 10px 5px;
}

#one {
  background: limegreen;
}

#two {
  background: dodgerblue;
}

#three {
  background: red;
}

#four {
  background: yellow;
}
