.answer {
  margin: 2%;
  padding: 1%;
  width: 46%;
  max-width: 46%;
  height: 80%;
  max-height: 80%;
  overflow: hidden;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  background-color: #FF9000;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.answer:hover {
  background-color: #C97200
}

.answer:active {
  background-color: #C97200;
  box-shadow: none;
  transform: translateY(4px);
}
