.answer {
  display: inline-block;
  border-style: solid;
  background-color: lavender;
  width: 12vw;
  max-width: 12vh;
  height: 15vw;
  max-height: 15vh;
}

#one {
  background: limegreen;
}

#two {
  background: dodgerblue;
}

#three {
  background: red;
}

#four {
  background: yellow;
}
