.end {
  width: 54vw;
  max-width: 54vh;
  height: 53.3vw;
  max-height: 53.3vh;
  overflow: hidden;
}

.end-textbox {
  height: 60%;
  width: 80%;
  margin: 10%;
  text-align: center;
  background-color: #4F247C;
  color: white;
  font-size: 16px;
}

.end-text {
  height: 20%;
  margin: 0;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.end-result-points {
  height: 20%;
  margin: 0;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.end-result-percentage {
  height: 20%;
  margin: 0;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-result-favourite {
  height: 20%;
  margin: 0;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-button {
  margin: 5% 25%;
  width: 50%;
  height: 10%;
  overflow: hidden;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  background-color: #FF9000;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.end-button:hover {
  background-color: #C97200
}

.end-button:active {
  background-color: #C97200;
  box-shadow: none;
  transform: translateY(4px);
}
