.question {
  margin: 0 auto;

  width: 53vw;
  max-width: 53vh;
  height: 20vw;
  max-height: 20vh;
  font-size: 0.8rem;
  color: black;
  background-color: lightyellow;
  position: fixed;
  left: 0;
  right: 0;
  overflow: auto;
}
